<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="../frontend/xslt/index.xsl"?>
<events xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="events.xsd">
    <event id="e8e6633f-be9f-4596-8369-e840a50a8be8" type="sport" price="20" maxparticipants="8">
        <name>Schwimmen / Aqua-Fitness</name>
        <description>Der Schwimm und Aquafit Kurs besteht, wie schon der Name, aus zwei Teilen. Anfangen werden wir mit
            einem Warumup in der ganzen Gruppe. Hier werden wir w&#xE4;hrend rund 40 Minuten &#xDC;bungen durchf&#xFC;hren,
            die der allgemeinen Beweglichkeit dienen und die Muskeln stimulieren
            Im zweiten Teil k&#xF6;nnen Sie w&#xE4;hrend 90 Minuten unter Aufsicht und Betreuung Strecken schwimmen.
            Selbstverst&#xE4;ndlich k&#xF6;nnen Sie bei einer Anmeldung auch nur einen Teil des Kurses besuchen.
        </description>
        <participants>
            <person id="5e5e339ada9c6" firstName="Maurizio" lastName="Hostettler" address="Gr&#xFC;nerweg 5" city="Bern" postCode="3013" email="maurizio.hostettler@gmail.com" phone="+41795406870" op1="selected" op3="selected"/>
            <person id="5e5edf5d83d5f" firstName="Maurizio" lastName="Hostettler" address="Gr&#xFC;nerweg 5" city="Bern" postCode="3013" email="maurizio.hostettler@gmail.com" phone="0975406870" op2="selected"/>
        <person id="5e67663d8d2c8" firstName="xml" lastName="master" address="xmlstrasse" city="xmlort" postCode="3333" email="xml@xslt.xd" phone="414444444" op2="selected"/></participants>
        <additionalServices>
            <service title="Schwimmhilfe" price="15" id="1"/>
            <service title="Betreuung" price="80" id="2"/>
            <service title="Flossen" price="20" id="3"/>
        </additionalServices>
        <settings>
            <image path="frontend/img/schwimmen.jpg" alt="Bild von Menschen mit Beeintr&#xE4;chtigung im Schwimmbecken."/>
        </settings>
    </event>
    <event id="3926c5a3-ffa1-4d90-8498-12fb65e86637" type="sport" price="140" maxparticipants="12">
        <name>Klettern</name>
        <description>Unser Kletterkurs ist f&#xFC;r Anf&#xE4;nger und ge&#xFC;bte gleichermassen geeignet. Zum Anfang
            wird eine Grundschulung stattfinden die auch dazu dient die einzelnen Teilnehmer kennen zu lernen. Im
            Anschluss wird jeder Teilnehmer mit einem Leiter zusammen an der Kletterwand eine dem k&#xF6;nnen
            entsprechende Route absolvieren k&#xF6;nnen.
            Bitte beachten sie die beschr&#xE4;nkte Platzzahl. Durch die 1:1 Betreuung k&#xF6;nnen leider nicht mehr
            Teilnehmer gleichzeitig am Kurs Teilnehmen.
        </description>
        <participants>
            <person id="5e5ee34509c62" firstName="Maurizio" lastName="Hostettler" address="Gr&#xFC;nerweg 5" city="Bern" postCode="3134" email="maurizio.hostettler@gmail.com" phone="0975406870"/>
            <person id="5e6211f20dce8" firstName="xml" lastName="master" address="xmlstrasse" city="xmlort" postCode="3333" email="xml@xslt.xd" phone="414444444"/>
        <person id="5e67667f78621" firstName="xml" lastName="master" address="xmlstrasse" city="xmlort" postCode="3333" email="xml@xslt.xd" phone="414444444" op1="selected"/><person id="5e676836d1191" firstName="xml" lastName="master" address="xmlstrasse" city="xmlort" postCode="3333" email="xml@xslt.xd" phone="414444444" op1="selected"/><person id="5e676894cf47e" firstName="xml" lastName="master" address="xmlstrasse" city="xmlort" postCode="3333" email="xml@xslt.xd" phone="414444444" op1="selected"/></participants>
        <additionalServices>
            <service title="Kletterschuhe" price="15" id="1"/>
        </additionalServices>
        <settings>
            <image path="frontend/img/klettern.jpg" alt="Bild von Menschen mit Beeintr&#xE4;chtigung die am Klettern sind."/>
        </settings>
    </event>
    <event id="4d7f7f7e-77bd-4601-b569-08210abc0c85" type="sport" price="80" maxparticipants="4">
        <name>Tennis</name>
        <description>F&#xFC;nf unserer Aussenpl&#xE4;tze sind f&#xFC;r die hier angebotenen Kurse reserviert. Bei
            schlechtem Wetter k&#xF6;nnen Kurse ebenfalls in der Halle angeboten werden.
        </description>
        <participants>
            <person id="5e5ee0fe2d302" firstName="Maurizio" lastName="Hostettler" address="Gr&#xFC;nerweg 5" city="Bern" postCode="3013" email="maurizio.hostettler@gmail.com" phone="0975406870" op1="selected"/>
            <person id="5e5ee10eba9a3" firstName="Maurizio" lastName="Hostettler" address="Gr&#xFC;nerweg 5" city="Bern" postCode="3134" email="maurizio.hostettler@gmail.com" phone="0975406870"/>
        <person id="5e6769756e3fe" firstName="xml" lastName="master" address="xmlstrasse" city="xmlort" postCode="3333" email="xml@xslt.xd" phone="414444444" op1="selected" op2="selected"/></participants>
        <additionalServices>
            <service title="Trainer" price="60" id="1"/>
            <service title="Balljunge" price="30" id="2"/>
        </additionalServices>
        <settings>
            <image path="frontend/img/tennis.jpg" alt="Bild von Menschen mit Beeintr&#xE4;chtigung Tennis spielen."/>
        </settings>
    </event>
</events>
